.hero-wrapper {
  background: url("@/assets/images/img1.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 36rem;
  position: relative;
}

.hero-overlay {
  height: inherit;
}

/* 
.hero-overlay {

  position: absolute;
  width: 1440px;
  left: 0px;
  top: 0px;
  bottom: -1px;

  background: linear-gradient(
    243.81deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(0, 0, 0, 0.9) 74%
  );
} */
